<div class="row">
  <div class="col-md-4">
    <div class="sidebar-photos">
      <%= image_tag 'sweat.jpg' %>
      <%= image_tag 'bottling.jpg' %>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Feel the power</h2>
    <p>Not your ordinary tap water. Each bottle is legit blessed by ordained masters of "flex". Our lead engineers have developed a method for collecting residual amounts of testosterone from the biggest muscle monsters you've ever seen&mdash;by harvesting the bi-product of the body at its peak athletic state. <em>Anyway</em> we can get it.</p><br />
    <%= render 'form' %>
  </div>
</div>
