// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #4DBCE9;
}

body.customers {
  .content {
    padding: 40px 0;
    .container {
      background: #FFFFFF;
      -webkit-box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      -moz-box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      color: #170409;
      padding:20px;
      .sidebar-photos img {
        margin: 0 0 20px;
        width: 100%;
      }
    }
  }
  footer {
    background: #333333;
    color: #FF065E;
    padding:40px 0;
  }
}
