// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #4DBCE9;
}

body.orders.new {
  background: #4B538B;
  header {
    background: url(/images/superhero.jpg);
    background-size: 100%;
    height: 400px;
  }
  .content {
    padding: 40px 0;
    .container {
      background: #EEEEEE;
      -webkit-box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      -moz-box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      box-shadow: 10px 10px 0px 0px rgba(65,61,61,1);
      color: #170409;
    }
  }
  footer {
    background: #333333;
    color: #FF065E;
    padding:40px 0;
  }
}
